.header{
   background-color: #1C2B35;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left:100px ;
   padding-right: 100px;
   
}
.img{
  
   padding-top: 19px;
   padding-bottom: 19px;
}
.header a{
   text-decoration: none;
   color: white;
  padding-right: 32px;
  padding-top: 30px;
}

.header a:hover{
   color: #FF9900;
}